

.top {
    background-color: #4ECDC4 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    background-color: #F6EBC1;
}

.mathforPets {
    margin-left: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: #FF8454;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login {
    padding-top: 7px;
}

.loginbutton {
    background-color: #FF8454;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.frontpagedog {
    height: 300px;
    width: 300px;
    padding-top: 30px;
    padding-left: 30px;
}