.content {
    background-color: #63D2FF;
    padding: 15px;
}
.mission {
    background-color: #EFF1ED;
    padding: 30px;
}
.missionText{
    margin-left: 10vh;
}
.missionText > p{
    line-height: 30px;
    text-align: left;
}
.missionPic { 
  float: right;
}
.gif {
    width: 280px;
    height: 280px;
    border-radius: 100%;

}
.missionfont > h3 {
    margin: 15px;
}

img {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
}


