.content {
    background-color: #82DBFF;
    padding: 15px;
    padding-bottom: 30px;
}
.mission {
    background-color: #EFF1ED;
    padding: 30px;
}
.missionText{
    margin-left: 10vh;
}
h3 {
    margin: 5vh;
    color: white;
}
.missionText > p{
    line-height: 30px;
    text-align: left;
}
.missionPic { 
  float: right;
}
.gif {
    width: 280px;
    height: 280px;
    border-radius: 100%;

}


img {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
}


